img{
    border: 8px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
img#monkey{
    border-radius: 50%;
}
img#monkey:hover{
    width: 110%;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    max-width: 40em;
}
.navbar li{
    float: left;
}
.navbar li p{
    display: block;
    background-color: darkcyan;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.listProject{
    list-style-type: none;
}
.listProject li p{
    display: block;
    background-color: darkcyan;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.navbar li p:hover{
    background-color: darkgreen;

}
.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;

}

body{
    color: white;
    background-color: darkslategrey;
}
